.app__chef-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
  }
  .harsh1{
    margin-top: 2px;
    top: 0%;
  text-align: center;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .harshnigam{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
  }
  

  @media screen and (max-width: 2000px) {
    .app__chef-sign img {
      width: 370px;
    }
  }
  @media screen and (max-width: 450px) {
    .app__chef-sign img {
      width: 80%;
    }
  }
  